*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(88, 86, 86);
    overflow: hidden;
}
nav{
    width: 100%;
    padding: 20px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(12, 8, 33);
    select,input,.btn-back{
        width: 15%;
        border-radius: 10px;
        height: 50px;
    }
    .btn-back{
    padding: 10px;
    border: none;
    outline: none;
    background-color: rgb(127, 163, 255);
    cursor: pointer;
    font-size: larger;
    font-weight: bold;
    position: relative;
    &::before{
        content: 'â†';
        position: absolute;
        top: 50%;
        left: 10%;
        color: red;
        font-size: 25px;
        font-weight: bold;
        transform: translate(50%,-50%);
    }
    >a{
        text-decoration: none;
        color: rgb(27, 59, 4);
    }
    }
}

#book {
    margin: 5px auto;
    max-width: 100% !important;
 
    .my-page{
        width: 100%;
        min-height: 100%;
        overflow: hidden;
        border-left: 2px solid rgb(128, 128, 128);
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
        &.--left>img{
            filter: brightness(.9);
        }
        >img{
            object-fit: fill;
            width: 100%;
            height: 100%;
            cursor:grab;
            
        }
    }
}
@media (max-width:500px) {
  
    nav{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;
    }
    #book {
        height: calc(100vh + 180px) !important;
        .stf__wrapper.--portrait,
        .stf__block{
            margin-top: -120px;
            min-height:calc(100vh + 210px) !important;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            overflow-y: hidden;
        }

        .my-page{
            min-height: 100% !important;
            >img{
                object-fit: fill;
                height: 70% !important;
            }
        }
    }
}
#audio{
    display: none;
}
