*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(88, 86, 86);
    overflow: hidden;
}
nav{
    width: 100%;
    padding: 20px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    transition: .5s;
    opacity: 0;
    &:hover{
        opacity: 1;
    }
    background-color: rgb(12, 8, 33);
    select,input,.btn-back{
        width: 15%;
        border-radius: 10px;
        height: 50px;
    }
    .btn-back{
    padding: 10px;
    border: none;
    outline: none;
    background-color: rgb(127, 163, 255);
    cursor: pointer;
    font-size: larger;
    font-weight: bold;
    position: relative;
    &::before{
        content: 'â†';
        position: absolute;
        top: 85%;
        left: 10%;
        color: red;
        font-size: 30px;
        font-weight: bold;
        transform: translate(50%,-50%);
        z-index: 1;
    }
    >a{
        text-decoration: none;
        color: rgb(27, 59, 4);
    }
    }
}

#book {
    margin: 5px auto;
    max-width: 100% !important;
    min-height: calc(100% +  100px);
    .my-page{
        width: 100%;
        min-height: calc(100% +  100px);
        overflow: hidden;
        border-left: 2px solid rgb(128, 128, 128);
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
        &.--left>img{
            filter: brightness(.9);
        }
        >img{
            object-fit: fill;
            width: 100%;
            height: 97%;
            cursor:grab;
            
        }
    }
}
@media (max-width:750px) {
        
        #book {
            height: calc(100vh + 0px) !important;
            .stf__wrapper.--portrait,
            .stf__block{
                min-height:calc(100%) !important;
                display: flex !important;
                justify-content: center !important;
                align-items: center !important;
                overflow-y: hidden;
                .my-page{
                    top: 0% !important;
                    min-height: 100% !important;
                    >img{
                        object-fit: fill;
                        height: 100% !important;
                    }
                }
            }
    
        }
}
@media (max-width:599px) {
        body{
            overflow: hidden;
        }
        #book {
            height: calc(100vh) !important;
            .stf__wrapper.--portrait,
            .stf__block{
                min-height:calc(100%) !important;
                top: 0;
                overflow-y: hidden;
                .my-page{
                    top: 2%;
                    min-height: 100% !important;
                    
                    >img{
                        object-fit: fill;
                        height: 95% !important;
                    }
                }
            }
    
        }
}
@media (max-width:500px) {
 
    #book {
        height: calc(100vh) !important;
        .stf__wrapper.--portrait,
        .stf__block{
            max-height:calc(100%) !important;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            overflow-y: hidden;
            .my-page{
                height: 100% !important;
                top: 2% !important;
                >img{
                    object-fit: fill;
                    height: 95% !important;
                }
            }
        }

    }
}
#audio{
    display: none;
}
