*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

    background-color: rgb(88, 86, 86);
    overflow: hidden;
}

#book {
    margin: 5px auto;
    .my-page{
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-left: 2px solid rgb(128, 128, 128);
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
        img{
            object-fit: fill;
            width: 100%;
            height: 100%;
        }
    }
}
#audio{
    display: none;
}
nav{
    width: 100%;
    padding: 20px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(12, 8, 33);
    select,input,.btn-back{
        width: 15%;
        border-radius: 10px;
        height: 50px;
    }
    .btn-back{
    padding: 10px;
    border: none;
    outline: none;
    background-color: rgb(127, 163, 255);
    cursor: pointer;
    font-size: larger;
    font-weight: bold;
    position: relative;
    &::before{
        content: 'â†';
        position: absolute;
        top: 50%;
        left: 10%;
        color: red;
        font-size: 25px;
        font-weight: bold;
        transform: translate(50%,-50%);
    }
    >a{
        text-decoration: none;
        color: rgb(27, 59, 4);
    }
    }
}