
:root {
  --border-image:url('../images/round-3.avif');
  --background-color:#f9f0e1

}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body{
    background-color: #ffffcc;
    color: black;
    font-family: 'Amaranth', sans-serif;
    font-family: "Reem Kufi Fun", sans-serif;
    font-family: 'Amiri', serif;
    position: relative;
    &::before{
      content: attr(moshaf);
      position: fixed;
      width: 9%;
      background-color: var(--background-color);
      top: 35%;
      left: 4.5%;
      z-index: 9999;
      display: flex;
      justify-content: center;
      transform: translate(-50%, 3px);
      text-align: center;
      color: rgb(1, 12, 129);
      font-family: "Reem Kufi Fun", sans-serif;
      border-width: 10px;
      border-style: solid;
      border-color: initial;
      font-weight: bold;
      border-image: var(--border-image) 70 round;
      
      }
  }
  /* .loading{
    width: 100%;
    height: 100vh;
    background-color: #000e0f;
    background-image: url('../images/loading.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: .5s;
    animation: display 3s ease-in-out 1 forwards;
}
.loading-anim{
position: fixed;
top: 150px;
left: 50%;
width: 300px;
height: 100px;
color: rgba(9, 51, 220, 0.342);
margin: 150px auto;


}
.loading-anim::before{
    content: '';
    width: 100px;
    position: absolute;
    height: 100px;
    border-radius: 50%;
    top: -120px;
    left: -25px;
    border: 5px solid red;
    border-left-color: transparent;
    animation: mo 1s infinite linear;
}
@keyframes mo {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);

    }
}
@keyframes display {
    0%{
        display: block;
    }
    100%{
        display: none;
    }
} */
.next_prev_sora{
  height: 10px;
  width: 100%;
  position: fixed;
  top: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  .nex-prev{
    width: 10%;
    height: 150px;
    font-size: clamp(0px,0px,0px);
    font-weight: bold;
    color: rgb(64, 234, 222);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;
    &:hover{
      color: rgb(33, 36, 58);
      font-size:clamp(90px,60px,30px) ;
    }
  }
}
.ss{
  max-width: 90%;
  z-index: 1;
    margin: 20px;
    margin-top: 110px;
    margin-bottom: 25%;
    position: relative;
    padding: 5px;
    text-align: justify;
    line-height: 2.3;
    background-color: var(--background-color);
    border: 60px solid transparent;
    filter: hue-rotate(0deg);
    border-image: var(--border-image) 170 round ;
    .passmalla {
      background-color: var(--background-color);
      position: relative;
      font-size: 80px;
      width: 50%;
      height: 150px;
      margin:0 auto 130px auto;
      display: flex;
      justify-content: space-around;
      font-family: 'Amiri Quran' !important;
      align-items: center;
      font-weight: 400;
      border: 30px solid rgb(13, 11, 11);
      border-image: var(--border-image)  80 round ;
      &::before{
        content: '';
        position: absolute;
        right: -18%;
        border: 70px solid transparent;
        border-image:var(--border-image) 120 round;
        transform: rotate(45deg);
        z-index: -2;
      }
      &::after{
        content: '';
        position: absolute;
        left: -18%;
        border: 70px solid transparent;
        border-image:var(--border-image) 120 round;
        transform: rotate(45deg);
        z-index: -2;
      }
      
      >.passmallaText {
        font-size: 50px;
        font-family: 'Amiri Quran';
        position: absolute;
        bottom:-150%;
        color: rgb(233, 38, 8);
        text-shadow: 1px 1px 1px #000000;
    }
    >.passmalla_title{
      position: relative;
      width: 20%;
      height: 30%;
      font-size: 20px;
      padding: 30px;
      text-wrap: wrap;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #7d0d23;
      font-weight: 700;
      z-index: 1;
      background-color: transparent;
      line-height: 1.2;
      border: 20px solid transparent;
      border-image:var(--border-image) 120 round;
      &::before{
        content: '';
        position: absolute;
        right: -80%;
        border: 28px solid transparent;
        border-image:var(--border-image) 120 round;
        transform: rotate(45deg);
        z-index: -1;
      }
      &::after{
        content: '';
        position: absolute;
        left: -80%;
        border: 28px solid transparent;
        border-image:var(--border-image) 120 round;
        transform: rotate(45deg);
        z-index: -1;
      }
    }
    }
   
 
}
.group-hafs ~ optgroup,
.group-hafs{
  background-color: #1dc26a;
  color: #e7e0e1;
  >option{
    background-color: rgb(197, 195, 195);
    color: #000000;
    &:checked{
      background-color: #de8b05 ;
      color: #ffffff;
    }
  }
}
div.parent-simbole{
    position: relative;
    display: inline-block;
    font-size: 45px;
    font-weight: bolder;
    color: #205615eb;
    background-color: transparent;
    border-radius: 50%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-shadow: 1px 1px 2px #1b8cd8;
    
}
span.child-simbole{
position: absolute;
top: 52%;
left: 46%;
transform: translate(-50%, -50%);
font-size: 30px;
font-weight: bold;
color: rgb(251, 5, 5);
}
p{
  
    font-size: 40px;
    font-weight: 400;
    cursor: pointer;
    display: inline;
    margin-bottom: 50px;
    .sign_of_jozz,
    .sign_of_sajda{
      width: 100px;
      height: 150px;
      position: absolute;
      font-size: 15px;
      font-weight: bolder;
      line-height: 1;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      left: -13.5%;
      color: #000000;
      background-color: #f9f0e1;
      border: 20px solid transparent;
      border-image: var(--border-image) 120 round ;
      border-radius: 50%;
      &::before{
        content: '';
        position: absolute;
        top: -50%;
        border: 35px solid red;
        border-image: var(--border-image) 90 round ;
        transform: rotate(45deg);
        z-index: -1;
      }
      &::after{
        content: '';
        position: absolute;
        bottom: -50%;
        border: 35px solid red;
        border-image: var(--border-image) 90 round ;
        transform: rotate(45deg);
        z-index: -1;
      }
    }
    .sign_of_sajda{
      color: red !important;
      height: 100px;
      &::before{
        top: -90%;
      }
      &::after{
        display: none;
      }
    
    }
    &.active{
      background-color: rgb(33, 36, 58) !important;
      color:#ffffff;
      border-radius: 10px;
      padding: 0px;
      >div.parent-simbole{
        color: #1dc26a;
      } 
      .child-simbole{
        color: white;
      }
  }
    &:hover:not(.active,div.parent-simbole,p.sign_of_jozz,p.sign_of_sajda){
      color: #1b8cd8;
      text-shadow: 1px 1px 3px #0c0c0c;
      transition: .2s;
      
    }
    &:hover .sign_of_jozz{
      text-shadow: none !important;
      color: #000000 !important;
    }
    .sign_of_jozz:hover{
      text-shadow: none;
      color: #000000;
    }
}
input,select{
  cursor: pointer;
}
#Select_part{
  cursor:no-drop
}
.navbar{
    position: fixed;
    left: 0;
    width: 100%;
    padding-top: 25px ;
    z-index: 999;
    justify-content: space-evenly;
    flex-wrap: wrap;
    transition: 1s;
    i{
      color:#1b7dd8;
      cursor: pointer;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
    }
    
      #navbarSupportedContent {
        >ul{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          flex-wrap: wrap;
          min-width: 50%;
        }
        >form{
          min-width: 50%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;
          text-align: center;
          flex-wrap: wrap;
          .coll-dev{
            width: 19%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            input,select{
              margin: 0 !important;
              width: 100% !important;
              text-align: center;
              /* background-color: #75cef7; */
              color: #d81b60;
              font-weight: 700;
            }
          }
        }
        }
    }

.navbar span.active {
    color: #d81b60 !important;
    font-size: 25px !important;
    font-weight: bolder !important;
}
.name-sora {
    font-size: 45px !important;
    font-family: "Reem Kufi Fun", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.exit,.play_puse {
    font-size: 20px;
    font-family: 'Amiri';
    padding: 10px;
}
.audio_buttons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.search_box{
  max-width: 15%;
  .search_input,.search_btn{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .search_btn{
    background-color: #1dc26a;
    font-size: 18px;
  }
}
.qaryea_box{
  max-width: 15%;
  position: relative;
  .select_input,.select_btn{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
  }
  .select_input{
    padding: 5px;
    border-radius: 2px;
  }
  .select_btn{
    background-color: #1dc26a;
    font-size: 18px;
  }
  .qaryea_image{
    max-width: 80px;
    min-height: 100%;
    position: absolute;
    top: 0;
    border-radius: 50%;
  }
}
.loop_box{
  max-width: 10%;
  cursor: pointer;
  .btn_loop{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1dc26a;
    font-size: 18px;
    color: white;
  }
}
.play_pause,
.exit-parent{
    padding: 3px 10px;
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2),
    2px 2px 2px rgba(0, 0, 0, 0.2),
    2px 2px 2px rgba(0, 0, 0, 0.2),
    2px 2px 2px rgba(0, 0, 0, 0.2),
    inset 2px 2px 2px #fff;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1dc26a;
    color: #fff;
    margin-right: 15px;
    position: relative;
   z-index: 99;
  }
  .exit-parent{
    background-color: rgb(254, 6, 159);
  }
 
.volume{
  height: 50px;
  display: flex;
  justify-content: center;
  gap: 2px;
  align-items: flex-end;
  position: relative;

  i.fa-volume-high{
    color: #1dc26a;
    cursor: pointer;
    margin: 0 10px;
  }
  i.fa-volume-xmark{
    color: #514f4f;
    cursor: pointer;
    margin: 0 10px;
  }
  span {
    width: 5px;
    bottom: 0;
    background-color: #514f4f;
    height: calc(5px * var(--v));
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    cursor: pointer;
    &.active {
      background-color: #1dc26a;
      transition: 1s;
    }
    
  }
  
}

.spans{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 40px;
  width: 20%;
  gap: 0px;
  span{
      width: 5px;
      height: 80%;
      position: relative;
      overflow: hidden;
      &:before {
        content: '';
        position: absolute;
        width: 5px;
        height: 0%;
        background-color: #1dc26a;
        bottom: 0%;
        left: 40%;
        transform: translate(-50%,0);
      }
  &.active {
    &:before {
      content: '';
      position: absolute;
      width: 6px;
      height: 0%;
      background-color: #1dc26a;
      bottom: 0%;
      left: 60%;
      transform: translate(-50%,0);
      animation: top-bootom 2s infinite ease-in-out alternate;
      animation-delay: calc(.3s * var(--i));
    }
  }
}
}
.tafsesr_box_parent,
.search_results{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 999;
    height: 10%;
    font-size: 28px;
    text-align: justify;
    padding:10px 40px;
    line-height: 2;
    overflow-y: auto;
    color: #000000;
    border: 20px solid transparent;
    border-image: url('../images/القرآن\ الكريم\ للجوال.jpeg') 60 round ;
    transition: 1s;
    i{
      position: absolute;
      left: 10px;
      top: -15px;
      color: red;
      cursor: pointer;
      font-size: 20px;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
    }
    i.mini-max{
      position: absolute;
      left: 40px !important;
      color: rgb(27, 120, 6) !important;
    }
    
#tafsesr_box{
    margin-top: 30px;
    font-family: 'Amiri', serif;
    >div.parent-simbole{
      color: #182b37;
      font-size: 30px;
      .child-simbole{
        font-size: 20px;
      }
    }
}
}

.tafsesr_box_parent >div.parent-simbole{
    position: absolute;
    margin-top: 17px;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 60px;
    .child-simbole{
      font-size: 25px;
      color: #1b7dd8;
    }
}
.tafsesr_box_parent >div.parent-simbole:before{
    content: '';
    width: 200px;
    height: 5px;
    background-color: green;
    top: 20px;
    left: 82px;
    position: absolute;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.tafsesr_box_parent >div.parent-simbole:after{
    content: '';
    width: 200px;
    height: 5px;
    background-color: green;
    top: 20px;
    right: 82px;
    position: absolute;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.search_results{
  top: 8%;
  height: 85%;
  background-color: #fff;
  box-shadow: inset 2px 2px 12px #868686,
    inset -2px -2px 12px #9c9c9e,
    inset 2px 2px 12px #9a9aa1,
    inset -2px -2px 12px #5571e1;
    padding-top: 50px;
    display: none;
    i{
      position: absolute ;
      right: 15px;
      top: 10px;
      color: rgb(243, 4, 4);
      cursor: pointer;
      transition: .5s;
      &:hover {
        font-size: 35px;
      }
    }
    #search_box>p{
    font-size: 25px;
    margin-top: 30px;
    font-family: 'Amiri', serif;
    .sora-name{
      color: #29b6f6;
      font-size: larger;
    }
    >div.parent-simbole{
      font-size: 30px;
      .child-simbole{
        font-size: 20px;
      }
    }
  }
}
.search_results >div.parent-simbole{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 60px;
}
.search_results >div.parent-simbole:before{
  content: '';
  width: 200px;
  height: 5px;
  background-color: green;
  top: 82px;
  left: 82px;
  position: absolute;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.search_results >div.parent-simbole:after{
  content: '';
  width: 200px;
  height: 5px;
  background-color: green;
  top: 82px;
  right: 82px;
  position: absolute;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.mini-max {
  animation: updown .5s ease-in-out infinite alternate;
  
}
@keyframes updown {
  0%{
    transform: translateY(-5px);
  }
  100%{
    transform: translateY(5px);

  }
}
@keyframes top-bootom {
    0%{
      height: 0%;
      /* filter: hue-rotate(0deg); */
    }
    10%{
      height: 80%;
    }
    20%{
      height: 0%;
    }
    30%{
      height: 20%;
    }
    40%{
      height: 0%;
    }
    50%{
      height: 50%;
    }
    60%{
      height: 20%;
    }
    70%{
      height: 5%;
    }
    80%{
      height: 70%;
    }
    90%{
      height: 10%;
    }
    100%{
      height: 95%;
      /* filter: hue-rotate(360deg); */
    }
  }

@media (min-width: 1301px) {  
  .navbar{
    top:0%;
  &.active{
    top: -24%;
  }
}
}
@media (min-width:1280px) and (max-width:1300px) {
 
 .ss{
  max-width: 90%;
  position: relative;
  line-height: 2;
  padding: 5px;
  .passmalla {
    border: 20px solid rgb(13, 11, 11);
    border-image: var(--border-image)  60 round ;
    >.passmallaText {
      font-size: 50px;
    bottom: -100%;
  }
 
}
  p{
    font-size: 30px;
    font-weight: 400;
    cursor: pointer;
    display: inline;
    margin-bottom: 50px;
    .sign_of_jozz,
    .sign_of_sajda{
      width: 100px;
      height: 150px;
      font-size: 18px;
      position: absolute;
      font-weight: bolder;
      font-family: 'Amiri';
      line-height: 1;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      left: -16%;
      color: #000000;
      border: 18px solid transparent;
      border-image: var(--border-image) 120 round ;
      &::before{
        top: -45%;
        border: 32px solid red;
        border-image: var(--border-image) 80 round ;
      }
      &::after{
        bottom: -45%;
        border: 32px solid red;
        border-image: var(--border-image) 80 round ;
      }
    }
    .sign_of_sajda{
      height: 90px ;
      &::before{
        top: -90%;
      }
    }
    &.active{
      background-color: rgb(33, 36, 58) !important;
      color:#ffffff;
      border-radius: 10px;
      padding: 0px;
      font-family: 'Amiri';
      >div.parent-simbole{
        font-family: 'Amiri Quran';
      }
  }
    &:hover:not(.active){
      color: #1b8cd8;
      text-shadow: 3px 3px 8px #1b8cd8;
      transition: .2s;
      .sign_of_jozz:hover{
        text-shadow: none !important;
        color: #000000 !important;
      }
    }
    .sign_of_jozz:hover{
      text-shadow: none;
      color: #000000;
    }
}
 }
  .navbar{
    top:0%;
    #navbarSupportedContent {
      ul{
        display: flex;
        flex-direction: row !important;
        min-width: 50% !important;
      }
      >form{
        min-width: 50% !important;
        max-width: auto !important;
        
      }
    }
  &.active{
    top: -24.5%;
  } 
 }
}
@media (min-width:991px) and (max-width: 1280px) {
  .ss{
    margin: 20px;
    max-width: 90%;
    margin-top: 110px;
    margin-bottom: 25%;
    text-align: justify;
    line-height: 2;
    .passmalla {
      border: 20px solid rgb(13, 11, 11);
      border-image: var(--border-image)  60 round ;
      >.passmallaText {
        font-size: 40px;
      bottom: -100%;
    }
   
  }
    p{
      font-size: 25px;
      .sign_of_jozz,
      .sign_of_sajda{
        width: 80px;
        height: 150px;
        left: -14.5%;
        font-size: 14px;
        line-height: 1.5;
        border: 15px solid transparent;
        border-image: var(--border-image) 70 round ;
        &::before{
          top: -35%;
          border: 28px solid red;
          border-image: var(--border-image) 120 round ;
        }
        &::after{
          bottom: -35%;
          border: 28px solid red;
          border-image: var(--border-image) 120 round ;
        }
      }
      .sign_of_sajda{
        height: 90px ;
        &::before{
          top: -65%;
        }
      }
    }
    div.parent-simbole{
      font-size: 25px;
  }
  span.child-simbole{
  font-size: 18px;
  }
    
}
#tafsesr_box{
  font-size: 20px;
  margin-top: 60px !important;
  div.parent-simbole{
    font-size: 20px;
    .child-simbole{
      font-size: 18px;
    }
  }
}
  .navbar{
    top:0%;
    #navbarSupportedContent {
      ul{
        min-width: 50% ;
        justify-content: space-between;
        flex-wrap: nowrap;
        text-align: center;
      }
      >form{
        min-width: 50% ;
      }
    }
    &.active{
      top: -14.5%;
    }
  }
  .search_results{
    top: 8%;
  }
}
@media (min-width:881px) and (max-width: 991px) {
  .ss{
    margin: 20px;
    margin-top: 110px;
    margin-bottom: 25%;
    line-height: 2;
    .passmalla {
      width: 80%;
      border: 20px solid rgb(13, 11, 11);
      border-image: var(--border-image)  60 round ;
      >.passmallaText {
        font-size: 30px;
      bottom: -100%;
    }
  }
    div.parent-simbole{
      font-size: 30px;
  }
  span.child-simbole{
  font-size: 22px;
  }
  p{
    font-size: 23px;
    .sign_of_jozz,
    .sign_of_sajda{
      width: 65px;
      height: 100px;
      font-size: 12px;
      left: -13.5%;
      border: 8px solid transparent;
      border-image: var(--border-image) 70 round ;
      &::before{
        top: -38%;
        border: 25px solid red;
        border-image: var(--border-image) 90 round ;
      }
      &::after{
        bottom: -38%;
        border: 25px solid red;
        border-image: var(--border-image) 90 round ;
      }
    }
    .sign_of_sajda{
      height: 80px ;
      &::before{
        top: -50%;
      }
    }
  }
}
#tafsesr_box{
  font-size: 18px;
  margin-top: 60px !important;
  div.parent-simbole{
    font-size: 18px;
    .child-simbole{
      font-size: 15px;
    }
  }
}
  .navbar{
    top:0%;
    #navbarSupportedContent {
      >form{
        min-width: 100%;
      }
    }
    &.active{
      top: -7%;
    }
  }
  .search_results{
    top: 10.6%;
  }
}
@media (min-width:661px) and (max-width: 881px) {
  .ss{
    max-width: 85%;
    margin: 20px;
    margin-top: 90px;
    margin-bottom: 25%;
    padding: 5px;
    line-height: 2;
   
    .passmalla {
      width: 80%;
      border: 20px solid rgb(13, 11, 11);
      border-image: var(--border-image)  60 round ;
      >.passmallaText {
        font-size: 30px;
      bottom: -100%;
    }
    .passmalla_title{
      font-size: 16px ;
    }
  }
    div.parent-simbole{
      font-size: 20px;
  }
  span.child-simbole{
  font-size: 14px;
  }
    p{
      font-size: 23px;
      .sign_of_jozz,
      .sign_of_sajda{
        width: 70px;
        height: 130px;
        font-size: 14px;
        left: -20%;
        color: #000000;
        border: 12px solid transparent;
        border-image: var(--border-image) 70 round ;
        &::before{
          top: -35%;
          border: 25px solid red;
          border-image: var(--border-image) 120 round ;
        }
        &::after{
          bottom: -35%;
          border: 25px solid red;
          border-image: var(--border-image) 120 round ;
        }
      }
      .sign_of_sajda{
        height: 80px ;
        &::before{
          top: -55%;
        }
      }
    }
}
  .navbar{
    top:0%;
    flex-wrap: wrap;
    justify-content: space-around;
    #navbarSupportedContent {
      >form{
        min-width: 100%;
      }
    }
    &.active{
      top: -8.2%;
    }
  }
  .loop_box,.search_box,.qaryea_box{
    max-width: 25%;
  }
  .tafsesr_box_parent{
    border: 15px solid ;
    border-image: url('../images/القرآن\ الكريم\ للجوال.jpeg') 100 round;
    font-size: 18px;
    padding: 5px !important;
    text-align: justify;
    #tafsesr_box{
      margin-top: 60px;
    }
    div.parent-simbole:nth-child(1){
      font-size: 14px !important;
      .child-simbole{
        font-size: 12px !important;
      }
    }
  }
  .search_results{
    top: 17%;
  }
}
@media (max-width: 660px) {
  .navbar{
    top:-5%;
    #navbarSupportedContent {
      >form{
        min-width: 100%;
      }
    }
    &.active{
      top: -28.2%;
      justify-content: space-evenly;
    }
  }
.loop_box,.qaryea_box,.search_box{
  max-width: 25%;
}
.ss{
    position: relative;
    max-width: 80%;
    margin: 20px;
    margin-top: 70px;
    margin-bottom: 25%;
    padding: 15px !important;
    text-align: justify;
    line-height: 2.5;
    border: 30px solid transparent;
    border-image:var(--border-image) 140 round  ;
   
    .passmalla {
      width: 80%;
      border: 20px solid rgb(13, 11, 11);
      border-image: var(--border-image)  60 round ;
      &::before{
        right: -22%;
        border: 50px solid transparent;
        border-image:var(--border-image) 120 round;
      }
      &::after{
        left: -22%;
        border: 50px solid transparent;
        border-image:var(--border-image) 120 round;
      }
    >.passmallaText {
        font-size: 25px;
        bottom: -80%;
    }
    .passmalla_title{
      font-size: 13px ;
      border: 12px solid transparent;
      border-image:var(--border-image) 120 round;
      z-index: 1;
      &::before{
        right: -50%;
        border: 18px solid transparent;
        border-image:var(--border-image) 120 round;
        z-index: -1;
      }
      &::after{
        left: -50%;
        border: 18px solid transparent;
        border-image:var(--border-image) 120 round;
        z-index: -1;
      }
    }
  }
   
    div.parent-simbole{
      font-size: 20px;
  }
  span.child-simbole{
  font-size: 15px;
  }
}
  p{
    font-size: 18px;
    line-height: 1.5;
    .sign_of_jozz,
    .sign_of_sajda{
      width: 60px;
      height: 120px;
      position: absolute;
      font-size: 12px;
      flex-wrap: wrap;
      left: -26%;
      border:11px solid transparent;
      border-image: var(--border-image) 120 round ;
      
      &::before{
        top: -30%;
        border: 20px solid red;
        border-image: var(--border-image) 120 round ;
      }
      &::after{
        bottom: -30%;
        border: 20px solid red;
        border-image: var(--border-image) 120 round ;
      }
    }
    .sign_of_sajda{
      height: 80px ;
      &::before{
        top: -55%;
      }
    }
  }
  p.active{
    border-radius: 10px;
}
  div.parent-simbole{
    font-size: 25px;
}

.tafsesr_box_parent{
  font-size: 20px;
  padding:10px 10px;
  line-height: 2;
#tafsesr_box{
  margin-top: 20px;
}
}
.tafsesr_box_parent >div.parent-simbole{
  font-size: 40px;
  &::before
  ,&::after{
    top:45% !important;
    margin: 5px;
    width: 100px;
    height: 3px;
    left: 42px;
  }
  &::after{
    right: 42px;

  }
  .child-simbole{
    font-size: 20px;
  }
}
.search_results{
  top: 17%;
}

}
@media (max-width: 520px) {
  .navbar{
    top:-5%;
    flex-wrap: wrap;
    #navbarSupportedContent {
      >form{
        min-width: 100%;
        flex-wrap: wrap;
        >div > label{
          font-size: 12px ;
        }
      }
    }
    &.active{
      top: -22.2%;
    }
  }
.loop_box,.qaryea_box,.search_box{
  max-width: 25%;
}
.ss{
    position: relative;
    max-width: 80%;
    margin: 20px;
    margin-top: 70px;
    margin-bottom: 25%;
    padding: 10px !important;
    text-align: justify;
    line-height: 2;
    border: 20px solid transparent;
    border-image:var(--border-image) 160 round  ;
    .passmalla {
      width: 80%;
      height: 100px;
      border: 15px solid rgb(13, 11, 11);
      border-image: var(--border-image) 120 round ;
      margin-bottom: 70px !important;
    >.passmallaText {
        font-size: 18px;
        bottom: -90%;
    }
    .passmalla_title{
      font-size: 13px ;
      border: 2px solid transparent;
      border-image:var(--border-image) 120 round;
      z-index: 1;
      &::before,
      &::after{
        border: none;
      }

    }
  }
    div.parent-simbole{
      font-size: 20px;
  }
  span.child-simbole{
  font-size: 15px;
  }
}
  p{
    font-size: 24px !important;
    line-height: 3px !important;
    .sign_of_jozz,
    .sign_of_sajda{
      width: 50px;
      height: 100px;
      font-size: 11px !important;
      left: -27%;
      border: 8px solid transparent;
      border-image: var(--border-image) 80 round ;
      border-radius: 50%;
      &::before{
        top: -30%;
        border: 19px solid red;
        border-image: var(--border-image) 120 round ;
      }
      &::after{
        bottom: -30%;
        border: 19px solid red;
        border-image: var(--border-image) 120 round ;
      }
    }
    .sign_of_sajda{
      height: 50px ;
      &::before{
        top: -65%;
      }
    }
  }
  p.active{
    border-radius: 10px;
}
  div.parent-simbole{
    font-size: 18px !important;
    margin: 0 !important;
}

.tafsesr_box_parent{
  
border-width: 10px;
#tafsesr_box{
  margin-top: 25px !important;
  font-size: 15px !important;
  div.parent-simbole{
    font-size:18px;
    .child-simbole{
      font-size: 12px;
    }
  }
}
}

.search_results{
  top: 17%;
}

}